<?xml version="1.0"?>
<robot name="upper_body" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotv1_description)/urdf/leg.xacro"/>
  <xacro:property name="lenXPelvis" value="0.08"/>
  <xacro:property name="lenYPelvis" value="0.16"/>
  <xacro:property name="lenZPelvis" value="0.06"/>

  <link name="pelvis" >
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" /> 
      <geometry>
        <box size="${lenXPelvis} ${lenYPelvis} ${lenZPelvis}"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0"/>
      <xacro:box_inertia lenx="${lenXPelvis}" leny="${lenYPelvis}" lenz="${lenZPelvis}"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" /> 
      <geometry>
        <box size="${lenXPelvis} ${lenYPelvis} ${lenZPelvis}"/>
      </geometry>
    </collision>
  </link>


  <xacro:leg prefix="left" reflect="1" />
  <xacro:leg prefix="right" reflect="-1" />



</robot>
