<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find robotv1_description)/urdf/robotv1.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model robotv1 -param robot_description"/>

</launch>
