<launch>

<!-- Load joint controller configurations from YAML file to parameter server -->
<rosparam file="$(find robotv1_control)/config/leg_control.yaml" command="load"/>
<rosparam file="$(find robotv1_control)/config/arm_control.yaml" command="load"/>
<!-- load the controllers -->

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/robotv1"
args="
shoulder_controller elbow_controller wrist_controller 
right_hip_controller right_knee_controller right_ankle_controller
left_hip_controller left_knee_controller left_ankle_controller

joint_state_controller"/>

<!-- convert joint states to TF transforms for rviz, etc -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
respawn="false" output="screen">
<remap from="/joint_states" to="/robotv1/joint_states" />
</node>

</launch>
